body
{
    background: #1e1f24;
    color: purple;
    text-align: center;
    font-family: 'Arial';
    font-size: 17px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background: orangered;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;
}
#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}
#container
{
    width: 70%;
    padding: lem;
    text-align: center;
    border: 3px solid goldenrod;
    margin: 0 auto;
}
#container h1
{
    font-size: 40px;
}
<<<<<<< HEAD
#footer
{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}
=======
#post
{
    background: white;
    padding: 1cm;
}
>>>>>>> 97555ff342c8315fb0db387de1b194ec86e97b7c
