body
{
    color: yellowgreen;
    text-align: center;
    font-family: "Arial";
    font-size: 17px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: lem;
    text-align: center;
    border: 3px solid goldenrod;
    margin: 0 auto;
}
#container h1
{
    font-size: 40px;
}